@import 'constants.styl'
@import 'fonts.styl'
@import 'buttons.styl'
@import 'utils.styl'

page-root()
  // box-sizing content-box
  width 100%
  max-width pageMaxWidth
  margin-right 'max(calc((100% - %s) / 2), 0px)' % (pageMaxWidth + 2 * pageMinHorizontalPadding)
  margin-left 'max(calc((100% - %s) / 2), 0px)' % (pageMaxWidth + 2 * pageMinHorizontalPadding)
  padding 30px pageMinHorizontalPadding (footerHeight + 20px) pageMinHorizontalPadding
  header
    font-large-extra()
    font-bold()

    margin-bottom 20px


block(colorBorder=colorBorder)
  display block
  padding 25px
  border-radius radiusM
  header
    font-large()
    font-bold()

    margin-bottom 10px
    text-align center
  section
    font-medium()

  @media ({mobile})
    padding 16px

block-border(borderColor=colorEmp1)
  block()

  border 2px solid borderColor


block-shadow()
  block()
  block-border()

  position relative
  &::before
  &::after
    block-border()

    content ""
    position absolute
    z-index -1
    inset -5px
    background colorEmp1
  &::before
    clip-path polygon(0 0, 30% 0, 70% 100%, 30% 100%, 0 30%)
  &::after
    clip-path polygon(70% 0, 100% 0, 100% 70%)

block-bg(colorBg=colorBlockBg)
  block()

  display block
  background colorBg

block-bg-transparent(colorBg=colorBlockBg)
  block()

  display block
  background mix(colorBg, transparent, 80%)

block-bg-shadow()
  block-bg()
  block-shadow()


input()
  input-no-styles()

  cursor text
  display flex
  align-items center
  height 45px
  margin 0
  padding 0 15px
  color colorText1
  background transparent
  border 2px solid colorBorder
  border-radius radiusM
  font-small()

  &::placeholder
    color colorText2

  &:focus
    // color colorEmp1
    background colorSuccessBg
    border-color colorEmp1
  &.error
    border-color colorError
  &.success
    border-color colorSuccess
  &[disabled]:not([disabled="false"])
    cursor default
    color colorText2
    background mix(colorBlockBg, transparent, 10%)

  trans()
